.dataform .required{ border:1px solid red; }
.dataform span.required{ border:0; color:red; }
.dataform .lbl { white-space:nowrap; text-align:right; vertical-align:middle; padding-right:5px;}
.dataform .frm { text-align:left; vertical-align:middle;}
.dataform .frm .inputbox {width:200px;}
.dataform .frm .textareabox {width:200px; height:100px;}
.dataform .frm-code .conf-code {width:107px; margin:2px 0; height:30px; line-height:30px; font-size: 24px;}
.dataform .frm-code .conf-code-image {margin:2px; border:0;}
.dataform .frm-notice { text-align:left;}
.dataform .frm-button { text-align:left;}